<!-- Navbar template -->
<li id="navbar_plugin_filament_manager" data-bind="visible: loginState.isUser()">
    <a href="#" title="Filament Manager">
        <i class="fa fa-cubes"></i>
    </a>
</li>

<!-- Settings template -->
<div id="settings_plugin_filament_manager" class="tab-pane" role="tabpanel">
    <div class="row-fluid">
        <h3>Filament Manager Settings</h3>
        <p>Manage your filament settings here.</p>
    </div>
</div>
