{# filament_manager/templates/filament_manager.jinja2 #}
<div class="container">
    <h2>Filament Manager</h2>
    <div id="filament_list">
        <!-- Hier wird die Liste der Filamente angezeigt -->
    </div>
</div>
